@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Varela+Round&display=swap');

#drop{
    float: left;
    position: absolute;
    top: 30px;
    left: 15px;
    cursor: pointer;
}
body {
    background-image: linear-gradient(blue, purple);    
    /* Smoothly transition the background color */
    transition: background-color .5s;
    }
    
    /* Using flex with the column direction to
    align items in a vertical direction */
    .player {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    }
    
    .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    }
    
    .track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: url(images/1.png);
    background-size: cover;
    background-position: center;
    border-radius: 15%;
    }
    
    /* Changing the font sizes to suitable ones */
    .now-playing {
    font-size: 1rem;
    font-family: 'Varela Round', sans-serif;
    font-weight: bolder;
    text-align: center;
    
    }
    
    .track-name {
    font-size: 3rem;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    
    }
    
    .track-artist {
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;

    }
    
    /* Using flex with the row direction to
    align items in a horizontal direction */
    .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    }
    
    .playpause-track,
    .prev-track,
    .next-track
    .shuffle{
    
    padding: 25px;
    opacity: 0.8;
    
    /* Smoothly transition the opacity */
    transition: opacity .2s;
    }
    .shuffle{
        padding: 25px;
        opacity: 0.8;
        transition: opacity 0.2s;
        cursor: pointer;
    }
    
    /* Change the opacity when mouse is hovered */
    .playpause-track:hover,
    .prev-track:hover,
    .next-track:hover
    .shuffle:hover {

    opacity: 1.0;
    }
    
    /* Define the slider width so that it scales properly */
    .slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    /* Modify the appearance of the slider */
    .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }
    
    /* Modify the appearance of the slider thumb */
    .seek_slider::-webkit-slider-thumb,
    .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    }
    
    /* Change the opacity when mouse is hovered */
    .seek_slider:hover,
    .volume_slider:hover {
    opacity: 1.0;
    }
    
    .seek_slider {
    width: 60%;
    }
    
    .volume_slider {
    width: 30%;
    }
    
    .current-time,
    .total-duration {
    padding: 10px;
    }
    .current-time,  .total-duration {
        font-family: 'Varela Round', sans-serif;
    }

    
    i.fa-volume-down,
    i.fa-volume-up {
    padding: 10px;
    }
    
    /* Change the mouse cursor to a pointer
    when hovered over */
    i.fa-play-circle,
    i.fa-pause-circle,
    i.fa-step-forward,
    i.fa-step-backward 
    i.fa-solid fa-repeat{
    
    cursor: pointer;
    }
    .songlistf{
        display: flex;
       justify-content: space-evenly;
       border-radius: 50px;
       background-image: linear-gradient(red, blue);    
       box-shadow:5px 2px 5px linear-gradient(red, blue);
       margin: 10px;

    }
    .songlistf .sname{
        font-family: 'Varela Round', sans-serif;
        font-weight: bold;
        justify-content: space-evenly;
        
       
        
    }
    .songlistf .aname{
        font-family: 'Varela Round', sans-serif;
       
        justify-content: center;
       
        
    }
    .songlistf i{
        justify-content: center;
        align-items: center;
        margin-top: 17px;
        cursor: pointer;
    }
    *{
        color: white;
    }